/*=====================================================================
	Base Layout Styles
======================================================================= */

*{
	/*border: 1px solid red;*/
	box-sizing: border-box;
}


body{

	font-family: 'Raleway', sans-serif;
	background-color: pink;
	}