/*=====================================================================
	Base Layout Styles
======================================================================= */

*{
	/*border: 1px solid red;*/
	margin: 0;
	box-sizing: border-box;
}
body{

	font-family: 'Raleway', sans-serif;
	/*background-color: #f7f7f7;*/
	background-color: #f9f9f9;


}
p{
	color: #b7b7b7;
}

div{margin: 0 auto;

	}


h1{
	margin: 0;
	text-align: center;
	padding: 3%;
}

ul{
	list-style-type: none;
	
}

a{
	text-decoration: none;
	color: inherit;
}

a:visited{
	color: inherit;
}
.main{
	background-color: #fff;
}
.nav{
	display: inline-block;
}


/*-------------------------------header/nav styles------------------------------------------*/
header{
	padding: 1em 0;
}
header li{
	background-color: #fff;
	margin: 1% auto;
	text-align: center;
	width: 95%;
	padding: 2%;
	text-transform: uppercase;
    font-weight: bold;
    color: #757474;
}
header li,
a{
	display: block;
}

.nav-bar{
	padding: 1%;
	margin: 1%;
}
.profile-foto{
	width: 75%;
    display: block;
    margin: auto;
    padding: 10%
}

/*-------------------------main content styles-----------------------*/
.profile{
	
	text-align: center;
}

.profile p{
	padding: 0 1% 10%;
}

#portfolio{
	text-transform: uppercase;
	text-align: center;
	padding: 50px 0;
	font-size: 1rem;
	color:#757474;
}

img{
	width: 80%;
    display: block;
    margin: 0 auto;
    padding: 1px;
}

.port-h3{
	text-align: center;
	padding: 5%;
	color: grey;
}
.main p{
	text-align: center;
    padding: 0 7.5% 5%;
    font-size: .9rem;
    line-height: 1.2rem;
}

/* --------------------------skills styles--------------------------------------------*/

.skill{
	background-color: #36ACD0;
	padding-bottom: 20px;
}
.skill-img{
	width: 70%;
	padding: 30px 0 2px;
}
.skill-list{
	text-align: center;
	padding: 0;
	}

.skill-list li{
	color: white;
	padding: 3px;
}
#head-skill{
	text-align: center;
	padding: 15px 0;
	color: #fff;
    text-transform: uppercase;
}
#p-skills{
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	font-family: 'Rokkitt', serif;
}


/* --------------------------contact styles--------------------------------------------*/
h4{
	text-align: center;
	text-transform: uppercase;
	padding-top: 15%;
	color: #757474;
}
.contact-p{
	text-align: center;
	padding: 15% 13% 5%;
	font-size: .9rem;
	line-height: 1.2rem;
}
.phone-mail{
	text-align: center;
	padding: 10px;

}
.phone-mail a{
	display: inline;
	font-weight: bold;
}
.mail{
	padding-bottom: 30px;
}


.foot{
	padding: 5%;
	color: #757474;
}
hr{
	/*width: 90%;
    margin: auto;*/
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


.foot li{
	font-size: .8rem;
	color: #757474;
}
.matt{
	float: left;
	font-weight: bold;
}
.btt{
	float: right;
	text-transform: uppercase;
	font-weight: bold;
}
.foot-link{
	visibility: hidden;
}


/* -----------------------------------media query 768------------------------ */

@media (min-width: 768px){

	.col{
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		vertical-align: top;
		padding: 0 .4em;
		
	}
	.main img{
		width: 100%;
	}
	.nav-bar{
		text-align: center;
	}

	header li{
		padding: 3%;

	}
	header li, a {
    display: inline;
    background-color: #f9f9f9;
}
.profile{
	display: inline-block;
}
.profile p {
    padding-left: 1%; 
    text-align: left;
    font-size: 1.3rem;
    line-height: 2rem;
}
.profile-foto{
	float: right;
	width: 40%;
	padding: 0 3% 5%;
}
.contact-p{
	font-size: 1.2rem;
	line-height: 1.9rem;
	padding: 50px 100px 25px;
}
.btt{
	display: none;
}

.foot-link{
	visibility: visible;
	float: right;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 1em;
    font-weight: bold;
}
.phone-mail {
    padding-bottom: 10px;
}

h4{
	padding-top: 50px;
}
.foot{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-right: 40px;
}
.skill{
	display: inline-block;
	width: 100%;
}
.skill-img{

	float: left;
	width: 40%;
	padding: 0 3% 5%;
}

#p-skills{
	padding-top: 5%;
	font-size: 1.2rem;
}


}

/* -----------------------------------media query 1024------------------------ */
@media (min-width: 1024px){
	.page{
		max-width: 95%;
	}
	nav{
		padding-bottom: 50px;
		width: 50%;
		float: right;
	}


	.nav-bar li{
		padding: 0;
	}
	.nav-bar,
	#top{
		display: inline-block;
		padding: 5px .4em 0;
	}
	.nav-bar{
		float: right;
		padding-top: 15px;
	}

	.nav-bar li{

		    margin-right: 20px;
	}

	.nav-bar a:hover{
		color: white;
		background-color: #F78460;
	}
	.col{

		display: inline-block;
		width: 33%;
		margin-right: -4px;
		vertical-align: top;
		padding: 0 .4em;
	}

	h4{
		padding-top: 2em;
	}
	.contact-p {
    padding: 5%;
	   }

	.col p{
		padding-bottom: 45px;
	}
	.skill-img{
		width: 50%;
	}
	#p-skills{
	padding-top: 7%;
	font-size: 1.4rem;
}
.big-foot{
	float: none;
	width: 100%;
}


}


